<div id="profile"></div>
<div class="town_body" style="background-image: url( <%= image_url "town.jpg", alt: "Town" %> )">
  <div class="d-flex  flex-column town_flex" >
    <div class="d-flex w-100 town_pro">
      <%= link_to "profile", character_path(current_user.characters[0]), remote: true, class: "town_a_prof"  %>

    </div>
    <div class="d-flex w-100 town_mid">
      <div></div>
      <%= link_to "begin adventure", levels_index_path, class: "town_a" %>
      <a href="#" class="town_a_shop">shop</a>
    </div>
    <div  class="d-flex town_char">
      <%= image_tag "character.png", alt: "alttext" %>
    </div>
  </div>
</div>
