.battle-scene{
  display:flex;
  flex-direction:column;
  height:100vh;
  background-color:black;
}

.battle-background{
  min-width: 100vw;
  height:75%;
  flex-shrink:1;
  background-position: center 50%;
  background-size: cover;
  display:flex;
  justify-content:center;
}

.question-area{
  background-color: white;
  flex-grow:1;

}
