.battle-scene{
  display:flex;
  flex-direction:column;
  height:100vh;
  background-color:black;
}

.battle-background{
  min-width: 100vw;
  height:75%;
  flex-shrink:1;
  background-position: center 50%;
  background-size: cover;
  display:flex;
  justify-content:center;
}

#question_status{
  width:100%;
  margin-left:auto;
  margin-right:0;
}

.battle-field{
  display:flex;
  align-content: flex-end;
  flex-wrap: wrap;
}

.question-area{
  background-color: white;
  flex-grow:1;
}

.mon-hp-bar{
  float: right;
  height:15px !important;
  margin-bottom: -10px !important;
  width:230px  !important;
}
