.landing {
  background-image: url(landing.jpg);
  background-size: cover;
}

.info-box {
  h1 {
  font-family: "press start 2p";
  font-size: 24px
  }
  font-family: "press start 2p";
  background-color: rgba(200, 200, 200, 0.8)
}
