<div class="container landing vh-100 min-vw-100 d-flex justify-content-center" style="background-image: url( <%= image_url "landing.jpg" %>">
  <div class="nes-container is-rounded info-box my-auto p-5">
    <h1>Welcome to the world of Code Wizard!</h1>
    <div class="register-buttons d-flex justify-content-center mt-4">
      <%= link_to "Login", new_user_session_path, class: "m-3 px-4 nes-btn is-success" %>
      <%= link_to "Sign up", new_registration_path(@user), class: "m-3 ml-4 nes-btn is-warning" %>
    </div>
  </div>
</div>
