.battle-field{
  width:65%;
  height:80%;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
}

#attack{
  position: absolute;
  // top:315px;
  // left:510px;
  width:100px;
  height:50px;
  visibility:hidden;
}

#character_avatar{
  // position: absolute;
  // top:165px;
  // left:295px;
}

#monster{
  -webkit-transform: scaleX(-1);
  // transform: scaleX(-1);
  // position: absolute;
  // top:165px;
  // left:895px;
}
