.character-new {
  background-size: cover;
}

.new-form {
  background-color: rgba(200, 200, 200, 0.6)
}

.row {
  .character-img {
  display: flex;
  align-items: center;
  justify-content: center;
  }
}

