.filter{
  height:100%;
  width:100%;
  background-color:rgba(0,0,0,0.4);
  position:absolute;
  z-index: 0;
}
.show-border{
  font-family: 'Press Start 2P';
  height: 400px;
  width:600px;
  background-color: white;
  margin:auto;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25%;
  min-height: 63%;

  p {
    margin-left: 10px;
  }
}


.close_btn {
  cursor: pointer;
  margin-right: 10px;

}

.close_lnk {
  text-align: right;
}
.char_show_prof_h1 {
  text-align: center;
  font-family: 'Press Start 2P';
}
 .char_logout {
  text-align: center;

 }

.filter{
  .show-border{
    .nes_prof {
    margin-bottom: 10px;
    }
  }
}

.nes-container.is-rounded {
 margin: 0px auto;
}
