@import "levels_index";
@import "result";

 body, html {
  height: 100%;
}

.town_body{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  a {
    text-decoration: none;
    &:hover {
      color: black;
    }
  }
}

.town_pro_fil{
  display: flex;
  justify-content: center;
  align-items: center;
}

.town_pro_info{
  display: flex;
  .town_pro_rlinfo{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
#adv_btn{
  height: 90px;
  width: 320px;
  font-size: 25px;
  z-index: 0;
}

#prof_btn{
  height: 70px;
  width: 150px;
  font-size: 20px;
}
#shop_btn{
  height: 70px;
  width: 150px;
  font-size: 20px;
  margin-right: 20px;
}

.town_flex {
  height: inherit;
  justify-content: space-between;
}

.town_pro {
  justify-content: flex-end;
}

.town_mid {
  justify-content: center;
}

.town_char {
  justify-content: center;
  img {
    height: 200px;
  }
}

.town_btn {
  margin-top: 20px;
  margin-right: 20px;
}
