@import "levels_index";
@import "result";

 body, html {
  height: 100%;
}

.town_body{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // display: flex;
  // align-items: center;
}



// .sho_pro_link{
//   display: flex;
//   flex-direction: column;
//   height: 60%;
//   justify-content: space-between;
//   position: absolute;
//   top: 0;
//   right: 0;

// }

// .town_container {
//   justify-content: center;
//   // display: flex;
//   // flex-direction: column;
//   align-items: center;
//   img {
//     height: 150px;
//     width:150px;
//   }
// }

#adv_btn{
  height: 90px;
  width: 320px;
  font-size: 25px;
  z-index: 0;
}

#prof_btn{
  height: 70px;
  width: 150px;
  font-size: 20px;
}
#shop_btn{
  height: 70px;
  width: 150px;
  font-size: 20px;
  margin-right: 20px;
}

.town_flex {
  height: inherit;
  justify-content: space-between;
}

.town_pro {
  justify-content: flex-end;
}

.town_mid {
  justify-content: center;
}

.town_char {
  justify-content: center;
  img {
    height: 130px;
  }
}

.town_btn {
  margin-top: 20px;
  margin-right: 20px;
}
