 body, html {
  height: 100%;
}
.result_body {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 .filter {
  display:  flex;
  justify-content: center;
  align-items:  center;

 }
}

.filter{
  .show-border{

    .rslt_prof {
      text-align: left;
    }

    .rslt_btns {
      margin-top: 30px;
      align-self: center;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }
  }
}

.result_body{
  .filter {
    .rslt_border{
      padding-top: 2px;
    }
  }
}


.rslt_border {
  display: flex;
  flex-direction: column;
  text-align:center;
}

.x{
  display:flex;
  justify-content: space-evenly;

}

.rslt_info {
  display: flex;
  text-align: center;
  .rslt_rlinfo {
   display: flex;
   justify-content: center;
   flex-grow: 1;
  }
}

.coin_gif{
  height: 30px;
  margin-top: -10px;
  margin-bottom: 10px;
}
.result-title{
  font-family:'press start 2p';
  text-align:center;
}
